 <TelerikStackLayout Orientation="StackLayoutOrientation.Vertical" Spacing="15px">
        <TelerikCard Class="k-flex-30">
            <CardHeader Class="k-hbox">
                <div class="k-rounded-full k-avatar avatar-size">
                    <div class="k-avatar-image ng-star-inserted" style="background-image: url(https://demos.telerik.com/blazor-ui/images/stack-layout/avatar1.jpg);"></div>
                </div>
                    <div>
                        <CardTitle>Lindsey Mango</CardTitle>
                        <CardSubTitle>34k followers</CardSubTitle>
                    </div>
            </CardHeader>
            <CardImage Class="k-card-cover" Src="https://demos.telerik.com/blazor-ui/images/stack-layout/dog1.jpg"></CardImage>
            <CardBody>
                <CardSubTitle Class="photo-text">Photos by Rikonavt and by Ivana La on Unsplash</CardSubTitle>
            </CardBody>
            <CardActions>
                <TelerikButton FillMode="@(ThemeConstants.Button.FillMode.Flat)"
                               ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">See more from Lindsey</TelerikButton>
            </CardActions>
        </TelerikCard>

        <TelerikCard Class="k-flex-40">
            <CardHeader Class="k-hbox">
                <div class="k-rounded-full k-avatar avatar-size">
                    <div class="k-avatar-image ng-star-inserted" style="background-image: url(https://demos.telerik.com/blazor-ui/images/stack-layout/avatar2.jpg);"></div>
                </div>
                    <div>
                        <CardTitle>Vincenzo Mays</CardTitle>
                        <CardSubTitle>32k followers</CardSubTitle>
                    </div>
            </CardHeader>
            <CardImage Class="k-card-cover" Src="https://demos.telerik.com/blazor-ui/images/stack-layout/summer.jpg"></CardImage>
            <CardBody>
                <CardSubTitle Class="photo-text">Photos by Irene Strong and by the BlackRabbit on Unsplash</CardSubTitle>
            </CardBody>
            <CardActions>
                <TelerikButton FillMode="@(ThemeConstants.Button.FillMode.Flat)"
                               ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">See more from Vincenzo</TelerikButton>
            </CardActions>
        </TelerikCard>

        <TelerikCard Class="k-flex-30">
            <CardHeader Class="k-hbox">
                <div class="k-rounded-full k-avatar avatar-size">
                    <div class="k-avatar-image ng-star-inserted" style="background-image: url(https://demos.telerik.com/blazor-ui/images/stack-layout/avatar3.jpg);"></div>
                </div>
                    <div>
                        <CardTitle>Marissa Webb</CardTitle>
                        <CardSubTitle>36k followers</CardSubTitle>
                    </div>
            </CardHeader>
            <CardImage Class="k-card-cover" Src="https://demos.telerik.com/blazor-ui/images/stack-layout/dog2.jpg"></CardImage>
            <CardBody>
                <CardSubTitle Class="photo-text">Photos by JJ Jordan and by Silvana Carlos on Unsplash</CardSubTitle>
            </CardBody>
            <CardActions>
                <TelerikButton FillMode="@(ThemeConstants.Button.FillMode.Flat)"
                               ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">See more from Marissa
                </TelerikButton>
            </CardActions>
        </TelerikCard>
    </TelerikStackLayout>